<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="URL" value="google.com"/>
  <test thread-count="5" name="Test">

    <classes>
      <class name="testNGtutorial.class1"/>
      <class name="testNGtutorial.personalloan"/>
      <class name="testNGtutorial.homeloan"/>
      <class name="testNGtutorial.classone"/>
      <class name="testNGtutorial.carloan"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
